body{
    background-color: gray;
    
}
.all{
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    margin: 5%;
    margin-left: 130px;
    margin-top: 80px;
    
    display: grid;
    grid-template-areas: 'one two';
    grid-template-columns: 50% 50%;
}
.left{
    grid-area: one;
    
}
.right{
    grid-area: two;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 37px;
    margin-left: 250px;
    margin-top: 100px;
}
#uname{
    width: 300px;
    height: 30px;
    border-color: rgb(237, 92, 237);
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 160px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;

}
#icon{
    position: absolute;
    margin-left: 180px;
    margin-top: 21px;
}
#icons{
    position: absolute;
    margin-left: 180px;
    margin-top: 30px;
}
#pass{
    width: 300px;
    height: 30px;
    border-color: rgb(238, 103, 238);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 160px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
#login{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(129, 41, 129);
    color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 260px;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 160px;
    margin-left: 220px;
}


#fb{
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    margin-left: 230px;
}
#twit{
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
#g{
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
#in{
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
.right{
    width: 100%;
    height: 100%;
    background-image: url(logo2.jpg);
    background-size: cover;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
}
.box{
    margin-left: 160px;
    margin-right: 100px;
}

h4{
    margin-left: 90px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    color: white;
    width:300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#signup{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(129, 41, 129);
    color: white;
    border-radius: 30px;
    margin-left: 90px;
}